@import url('https://fonts.googleapis.com/css2?family=Lato&family=Titillium+Web&display=swap');

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  /* padding: 10px 0; */
  border: 1px solid #000;
  border-radius: 7px 5px 10px 7px;
  margin: 20px 0;
}

.img-section {
  width: 45%;
  height: 100%;
  /* border-radius: 10px 0 0 10px; */
}

.img-section img {
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px;
}
.text-section {
  height: 100%;
  width: 55%;
  text-align: center;
  border-radius: 0 8px 8px 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.text-section .name {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid slateblue;
  font-family: 'Titillium Web', sans-serif;
}

.text-section .desc-section {
  font-family: 'Lato', sans-serif;
  padding: 0 0 0 10px;
  font-size: 1.1rem;
  overflow-y: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-section .enroll-btn {
  background-color: #04293A;
  color: #fff;
  width: 100%;
  padding: 3px 0;
  border: none;
  font-size: 20px;
  border-radius: 0 0 6px 0;
  cursor: pointer;
  transition: all 0.2s;
  font-family: 'Lato', sans-serif;
}
.enroll-btn:hover {
  background-color: #064663;
  color: #fff;
}
