.player-wrapper {
  position: relative;
  margin: 10px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 10px;
}

.react-player {
  width: 90vw;
  top: 0;
  left: 0;
}

.info {
  background-color: #fff;
  width: 90vw;
  margin-bottom: 20px;
}

/* For screen width more than 600px will work this code || media Query */
@media only screen and (min-width: 601px) {
  .react-player {
    width: 48vw;
  }
  .info {
    width: 48vw;
  }
}
